# OS
.DS_Store
init.lua
lazy-lock.json
spell/

# Logs
*.log

*.tmp
*.bak
tmp/
debug/

.sessions/
.session/
.undo/
shada/

plugged/
bundle/
pack/
lazy/

# Local test or scratch files
foo.*
tt.*
.tests

# Tags / generated docs
doc/tags

data/
